In [1]:
import pandas as pd, numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# <center> 2020 </center>

In [2]:
import os

In [3]:
path = "Data/2020 — 2021/"
files = os.listdir(path)[1:]

In [4]:
dfs = []
for file in files:
    dfs.append(pd.read_csv(path + file, low_memory=True))

Here we have the files spreaded in the monthly format. Each file for each month.

In [5]:
trues = []
for i in range(len(dfs) - 1):
    trues.append((dfs[i].columns == dfs[i+1].columns).all())

In [6]:
all(trues)

True

In [7]:
trp_2020 = pd.concat(dfs).reset_index(drop=True)

In [8]:
trp_2020

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,EACB19130B0CDA4A,docked_bike,2020-01-21 20:06:59,2020-01-21 20:14:30,Western Ave & Leland Ave,239,Clark St & Leland Ave,326,41.966500,-87.688400,41.967100,-87.667400,member
1,8FED874C809DC021,docked_bike,2020-01-30 14:22:39,2020-01-30 14:26:22,Clark St & Montrose Ave,234,Southport Ave & Irving Park Rd,318,41.961600,-87.666000,41.954200,-87.664400,member
2,789F3C21E472CA96,docked_bike,2020-01-09 19:29:26,2020-01-09 19:32:17,Broadway & Belmont Ave,296,Wilton Ave & Belmont Ave,117,41.940100,-87.645500,41.940200,-87.653000,member
3,C9A388DAC6ABF313,docked_bike,2020-01-06 16:17:07,2020-01-06 16:25:56,Clark St & Randolph St,51,Fairbanks Ct & Grand Ave,24,41.884600,-87.631900,41.891800,-87.620600,member
4,943BC3CBECCFD662,docked_bike,2020-01-30 08:37:16,2020-01-30 08:42:48,Clinton St & Lake St,66,Wells St & Hubbard St,212,41.885600,-87.641800,41.889900,-87.634300,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5515088,CB282292CCFCE74F,electric_bike,2021-06-14 00:17:31,2021-06-14 00:56:46,Wells St & Polk St,SL-011,NaN,NaN,41.872412,-87.633715,41.880000,-87.620000,casual
5515089,47BD346FAFB9BE6D,classic_bike,2021-06-30 17:35:10,2021-06-30 17:43:20,Clark St & Chicago Ave,13303,Kingsbury St & Kinzie St,KA1503000043,41.896750,-87.630890,41.889177,-87.638506,member
5515090,52467C23D17C6AFE,classic_bike,2021-06-13 19:24:30,2021-06-13 19:34:11,Indiana Ave & 26th St,TA1307000005,State St & 19th St,SL-013,41.845687,-87.622481,41.856594,-87.627542,member
5515091,7DF6D74420D7D9E6,electric_bike,2021-06-08 15:44:28,2021-06-08 16:15:01,Clark St & Chicago Ave,13303,NaN,NaN,41.896485,-87.630608,41.940000,-87.710000,member
5515092,0C01F8BA99E512E5,electric_bike,2021-06-03 16:18:38,2021-06-03 16:47:49,Clark St & Chicago Ave,13303,NaN,NaN,41.896596,-87.630868,41.940000,-87.710000,member

In [9]:
trp_2020.started_at = pd.to_datetime(trp_2020.started_at, format="%Y-%m-%d %H:%M:%S")
trp_2020.ended_at = pd.to_datetime(trp_2020.ended_at, format="%Y-%m-%d %H:%M:%S")

In [10]:
trp_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5515093 entries, 0 to 5515092
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 547.0+ MB

In [11]:
trp_2020_21 = trp_2020.sort_values(by="started_at")

In [12]:
trp_2020_21.reset_index(drop=True, inplace=True)

In [13]:
trp_2020_21.duplicated().sum()

0

In [18]:
trp_2020_21[trp_2020_21.ride_id.duplicated()]

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
3482573,BE1F691E387D7072,docked_bike,2020-12-15 11:34:23,2020-11-25 08:00:15,Kingsbury St & Kinzie St,KA1503000043,Canal St & Monroe St,13056,41.889176,-87.638505,41.881690,-87.639530,member
3482575,325F6C4D5B72134A,docked_bike,2020-12-15 11:34:31,2020-11-25 08:20:28,Clarendon Ave & Junior Ter,13389,Broadway & Wilson Ave,13074,41.961004,-87.649603,41.965221,-87.658139,member
3482576,BB4697B59E3FF12A,docked_bike,2020-12-15 11:34:38,2020-11-25 08:09:43,Clark St & 9th St (AMLI),SL-009,Dearborn St & Adams St,TA1305000005,41.870816,-87.631246,41.879356,-87.629791,member
3482577,A180F0B9240F6660,docked_bike,2020-12-15 11:34:40,2020-11-25 08:38:56,California Ave & Francis Pl (Temp),13259,Milwaukee Ave & Wabansia Ave,13243,41.918491,-87.697422,41.912616,-87.681391,casual
3482578,5A0D169EFA5A7C4A,docked_bike,2020-12-15 11:34:51,2020-11-25 08:20:50,Kingsbury St & Erie St,13265,Clinton St & Lake St,13021,41.893808,-87.641697,41.885637,-87.641823,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3483199,A08B4A7018A2C588,docked_bike,2020-12-15 12:21:18,2020-11-25 16:31:14,Paulina St & Flournoy St,KA1504000104,Wells St & Polk St,SL-011,41.872950,-87.669130,41.872596,-87.633502,member
3483203,332340BB61D42B3C,docked_bike,2020-12-15 12:21:37,2020-11-25 14:49:41,Bissell St & Armitage Ave,13059,Clark St & Drummond Pl,TA1307000142,41.918440,-87.652220,41.931248,-87.644336,casual
3483207,3C8888090D42A63F,docked_bike,2020-12-15 12:21:46,2020-11-25 17:38:06,Wood St & Taylor St (Temp),13285,Laflin St & Cullerton St,13307,41.869265,-87.673730,41.854915,-87.663560,member
3483208,165F7B547D1CFAC0,docked_bike,2020-12-15 12:21:50,2020-11-25 19:24:03,Clark St & Elm St,TA1307000039,Fairbanks Ct & Grand Ave,TA1305000003,41.902973,-87.631280,41.891847,-87.620580,member
3483209,C763BA9D0F6ED827,docked_bike,2020-12-15 12:21:52,2020-11-25 19:13:39,Broadway & Barry Ave,13137,Clark St & Armitage Ave,13146,41.937582,-87.644097,41.918306,-87.636282,member

In [16]:
trp_2020_21.to_csv("Data/CLEANED - YearWise/2020-21.csv", index=False)

#